@media (max-width: 677px) {
	.nav-item {
		width: 100%;
		display: none;
		position: absolute;
		text-align: center;
	}
	.menu-icon {
		display: block;
	}
	.link {
		font-size: 1em;
	}
	.homeContent, .aboutContent, .academicsContent {
		margin-top: 4em;
	}
	.homeContent h1 {
		font-size: 2em;
	}
	.content, h2 span,
	.info,
	.group p {
		font-size: 1em;
	}
	h4 {
		font-size: 1.5em;
	}
	.acad {
		flex-direction: column;
	}
}