@import url('https://fonts.googleapis.com/css?family=Marck+Script|Satisfy');
* {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	background-image: url("./images/Layer.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	transition: 0.5s;
}
.homeContent, .aboutContent, .academicsContent {
	margin-top: 7em;
}
.nav {
	display: flex;
	justify-content: center;
}
.nav-item {
	padding: 10px;
}
a {
	text-decoration: none;
	margin: 10px 50px;
	letter-spacing: 5px;
	font-size: 1.5em;
	color: #fff;
}
a:hover {
	color: #ff5f00;
}

.menu-icon {
	display: none;
	float: right;
}
.homeContent h1 {
	font-size: 4.5em;
	color: #ccc;
	text-shadow: 5px 0px 1px #ff4c00;
}
.content {
	font-size: 2.5em;
	color:#eb0fa9;
	font-family: "Satisfy",cursive;
}
.link {
	font-size: 2em;
}
.link:hover {
	color: #f80;
}

h2 span {
	font-size: 2em;
	color: #ccc;
	text-shadow: 3px 0px 1px #ff4c00;
}
.info {
	font-size: 2em;
	color: #0ee60e;
	font-family: "Satisfy",cursive;
}
.info h5 {
	font-size: 1.5em;
	color: #af8edf;
}
.highlight {
	color: #1bdae7;
}
h4 {
	font-size: 2em;
	color: #909;
	text-decoration: underline;
	font-family: "Satisfy",cursive;
}
.acad {
	display: flex;
}
.group {
	flex-grow: 1;
	text-align: center;
}
.group p {
	font-size: 1.3em;
	color: #daa52a;
	align-self: flex-end;
	font-family: 'Satisfy', cursive;
}